.headline {
  justify-content: space-between;
  align-items: center;
  padding-right: 4.5%;
  margin: 1% 0;
}

.africa {
  width: 45%;
  height: auto;
}

.africa img {
  width: 90%;
  height: auto;
}

.quality,
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.headline-city .detail {
  flex-direction: column;
  gap: 1rem;
}

.headline-city h2 {
  font-size: 2rem;
  font-weight: 900;
  text-align: right;
}

.headline-city p {
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
}
