nav {
  justify-content: space-between;
  align-items: center;
  padding: 4% 3%;
  background-color: var(--blue-1);
}

nav h1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.7rem;
  color: var(--secondary-color);
}

.filter {
  width: 50%;
  height: auto;
}

.filter input {
  width: 100%;
  padding: 3.5% 2%;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  color: var(--blue-1);
}

.filter input:focus {
  outline: none;
}


